.main {
  display: flex;
  gap: 10px;
  width: 200mm;
  height: 287mm;
  margin: 0;
  padding: 0;
  background-color: #F1E9E2;
  padding: 10px;
}

.left {
  flex: 0 0 30%;
  background-color: #60A3DA;

}

.right {
  flex-grow: 1;
  background-color: #fbfeff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.job-card {
  background-color: #fbfeff;
  border-bottom: 1px solid #000;

  .company-city-box {
    display: flex;
  }

  .company {
    flex: 1;
    font-size: larger;
    color: #8f8f8f;
  }

  .city {
    font-size: small;
    color: #8f8f8f;
  }

  .position-period-box {
    display: flex;

    .position {
      flex: 1;
    }

    .period {}
  }

  .job-projects {
    .description {
      font-size: smaller;
      font-weight: 400;
      padding-left: 30px
    }
  }
}

.job-card:last-of-type {
  border-bottom: none;
}