.main {
  display: flex;
  gap: 10px;
  width: 200mm;
  height: 287mm;
  margin: 0;
  padding: 0;
  padding: 10px;
}

.left {
  flex: 0 0 30%;
}

.right {
  flex-grow: 1;
  background-color: #fbfeff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

