.card {
  background-color: #fbfeff;
  border-bottom: 1px solid #000;

  .companyCityBox {
    display: flex;
  }

  .company {
    flex: 1;
    font-size: larger;
    color: #8f8f8f;
  }

  .city {
    font-size: small;
    color: #8f8f8f;
  }

  .positionPeriodBox {
    display: flex;

    .position {
      flex: 1;
    }

    .period {
      flex: 1;
      display: flex;
    }

    .item {
      text-align: right;
      flex: 1;
    }
  }

  .jobProjects {
    .description {
      font-size: smaller;
      font-weight: 400;
      padding-left: 30px;
    }
    .breakPage {
      font-size: smaller;
      font-weight: 400;
      padding-left: 30px;
      page-break-before: always;
      break-before: page;
    }
  }
}

.card:last-of-type {
  border-bottom: none;
}
